<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <head>
        <style>
            body
            {
                background-image: url(../image/backgrounds/background-a2.jpg);
                background-position: center;
                background-size: cover;
            }
        </style>
        <title>
            Web film project
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/style.css ">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    </head>
    <body>
        <div class="container header">
            <img class="logo" src="../image/logone.png" alt="">
            <a href="#" class="header-btn"><i class="fa fa-user"></i>Account</a>
        </div>
    </body>
    <div class="container movie-details">
    <div class="row">
    <div class="col-md-6 left-box">
        <h1>THE AVENGERS</h1>
        <p class="box" style="font-weight: 500">Marvel Studios presents in association with Paramount Pictures "Marvel's The Avengers"--the super hero team up of a lifetime, featuring iconic Marvel super heroes Iron Man, the Incredible Hulk, Thor, Captain America, Hawkeye and Black Widow. When an unexpected enemy emerges that threatens global safety and security, Nick Fury, Director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins."</p>
        <h2 style="color:white;">Cast: </h2>
        <div class="casting">
        <img src="../image/cast/ChE.jpg" title="Chris Evans">
        <img src="../image/cast/RDJ.jpg" title="Robert Downey Jr.">        
        <img src="../image/cast/mark.jpg" title="Mark Ruffalo">
        <img src="../image/cast/ChH.jpg" title="Chris Hemsworth">
        <img src="../image/cast/ScrJ.jpg" title="Scarlett Johansson">
        <img src="../image/cast/JR.jpg" title="Jemery Renner">
        </div>        
        <a href="http://www.phimmoi.net/phim/biet-doi-sieu-anh-hung-i8-44/download-64403.html?download=15912493856edd0e57" class="download-btn">Download</a>
        <a href="#">Watch Now</a>
    </div>
    <div class="col-md-6 text-center">
        <img src="../image/poster/avengers1.jpg" class="movie-img">
    </div>    
    </div>
    </div>  
    <div class="container series">
    <h1 style="color:white;">Related Movies</h1>
    <div class="row">
    <div class="col-md-4">
        <div class="col-6"><img src="../image/poster/endgame.jpg" title="Avengers: Endgame"></div>        
    </div>
    <div class="col-md-4">
        <div class="col-6"><img href="../avengers2.html" src="../image/poster/avengers2.jpg" title="Avengers: Age of Ultron"></div>
    </div>
    <div class="col-md-4">
        <div class="col-6"><img href="../avengers3.html" src="../image/poster/avengers3.jpg" title="Avengers: Infinity War"></div>
    </div>
    </div>
    </div>    
</html>